<%- include("../partials/header") %>

<h3>Skills as of <%= time %></h3>

<ul>
  <% skills.forEach(function(s) { %>
  <li>
    <p>Tech Skill: <%= s.skill %> | Proficiency: <%= s.proficiency %></p>
  </li>
  <% }); %>
</ul>

<%- include("../partials/footer") %>
