<%- include("../partials/header") %>

<h3>Skills as of <%= time %></h3>

<ul>
  <% skills.forEach(function(s) { %>
  <li>
    <p>
      Tech Skill: <a href="/skills/<%= s.id %>"><%= s.skill %></a> |
      Proficiency: <%= s.proficiency %>
    </p>
  </li>
  <% }); %>
</ul>

<%- include("../partials/footer") %>
